<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
  <div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
    Nenhuma participante cadastrado
  </div>
  <div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
  <div th:if="${not #lists.isEmpty(lista)}">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email </th>
        <th>Quatro Letras</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="participante : ${lista}">
        <td th:text="${participante.id}"></td>
        <td th:text="${participante.nome}" width="70%"></td>
        <td th:text="${participante.email}" width="70%"></td>
        <td th:text="${participante.quatroLetras}" width="70%"></td>

        <td><a class="btn btn-primary btn-sm" th:href="@{/participante/editar(id=${participante.id})}">Editar</a>
          <a class="btn btn-primary btn-sm" th:href="@{/participante/excluir(id=${participante.id})}" onclick="return confirm('Você realmente deseja excluir essa participante?')">Excluir</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</html>