<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

  <title>EventosApp</title>
</head>
<body>

<h1>Cadastro de Atividades</h1>
<form th:object="${atividade}" method="post">
  Nome: <input type="text" value="" name="nome"/>
  DataEntrada: <input type="date" value="" name="dataEntrada"/>
  DataSaida: <input type="date" value="" name="dataSaida"/>
  Evento:<select name="evento">    <option th:each="evento : ${listaEventos}" th:value="${evento.id}" th:text="${evento.nome}"></option></select>



  <button type="submit">Salvar</button>
</form>

</body>
</html>